/* Shared 共用*/

/* ------------------------------------------- */
/* For All Elements */
* {
    font-family: 
    Helvetica, Arial,
    "文泉驛正黑", "WenQuanYi Zen Hei",
    "儷黑 Pro", "LiHei Pro",
    "黑體-繁", "Heiti TC",
    "微軟正黑體", "Microsoft JhengHei", sans-serif;
}
.all-box {
    box-shadow:0px 0px 10px 0px rgba(102, 98, 79,0.3);
}
/* ------------------------------------------- */
/* Navigation Bar */

.pos-rel {
    position: relative;
}

/* Centre Adjustment */
.img-logo {
    width: 160px;    
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
    /* transform: translate(-47%, -15%); */
}

.mobile-img-logo {
    height: 8vh;
}

.nav-btn-img {
    padding-bottom: 20px;
}
.postmark-hover {
    width: 50px;
    position:  absolute;
    right: 0;
    bottom:  11px;
    opacity: 0;
    transition: all 1000ms ease-in;
}

.nav-btn-img:hover .postmark-hover {
    transition: all 200ms ease-in-out;
    opacity: 1;
}

@media screen and (max-width:768px){
    .postmark-hover {
        width: 50px;
        position:  absolute;
        left: 110px;
        bottom:  10px;
    
    }
}


/* Background Color - Kuma Yellow */
.bg-kuma-yellow {
    background-color: #f9cf01;
}


/* ------------------------------------------- */
/* Main */
main {
    /* Add the interval between the navigation bar and content. */
    padding: 120px 0px 20px 0px;
}
.title h3 {
    margin-left: 105px;
    margin-bottom: 50px;
    padding-left: 20px;
    position: relative;
    font-weight: 700;
    color:#2D2502;
    font-size:45px;
}
.title h3::before {
    content:"";
    width:45px;
    height:45px;
    position: absolute;
    background-image: url('../img/title-bagel.png');
    background-size: cover;
    left:-35px;
    top:3px;
}

@media screen and (max-width:767px) {
    .title h3 {
        margin-left: 45px;
    }
}


/* ------------------------------------------- */
/* Footer */
footer {
    margin-top: 50px;
    color:#F2F2F2;
    background-color: #010101;
    padding-top:28px;
}
footer .row .col-md-12 ul {
    text-align: center;
    list-style: none;
    padding:0;
}
footer .row .col-md-12 ul li {
    display:inline;
    font-size: 24px;
    color:#B3B3B3;
}
.footer-a {
    font-size: 24px;
    font-weight: 500;
    color:#B3B3B3;
}
.footer-a:hover {
    text-decoration: none;
    color:#f9cf01;
}

footer .row .col-md-12 ul li::after {
    display:inline;
    content:"/";
    margin:0 20px;
}
footer .row .col-md-12 ul li:nth-last-child(1)::after {
    display:none;
}

.icon-container{
    display: flex;
    justify-content: space-between;
    /* margin-bottom:18px; */
}

.icon {
    display: inline;
}
/* Hover: Pic Change  */
.hover-before{
    display:block;
}
.hover-after{
    display:none;
}
.icon:hover .hover-before{
    display: none;
}
.icon:hover .hover-after{
    display: block;
}

.dashed::after {
    content: "-------------------------------------------------------";
    display: block;
    font-size:24px;
    text-align: center;
    letter-spacing: 10px;
    color: #f9cf01;
    overflow: hidden;
    height: 20px;
}
.info {
    width: 90%;
    padding-top:16px;
    padding-left:30px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
}
.col-md-4 .info p {
    margin-bottom:7px;
    font-size:16px;
}
.relax {
    font-size:12px;
    padding-left:2px;
}
.mb-phone {
    letter-spacing: 3.567px;
}

.phone {
    letter-spacing: 2.54px;
}

@media screen  and (max-width:767px) {
    .info {
        width: 72%;
        padding:  15px 0px;
        margin-bottom: 0px;
    }
    .info.wu-chan{
        padding-top:35px;
    }
    .info.fong-yu {
        margin-bottom: 50px;
    }

    .icon-container {
        justify-content: space-around;
    }

}

/* ------------------------------------------- */

/* ------------------------------------------- */
/* Individual 個別*/
/* ------------------------------------------- */

/* ------------------------------------------- */
/* Index---------沐謙*/
/* 內容放在這裡 */


/* ------------------------------------------- */
/* About---------冠華 */
#about-content p {
    font-size: 22px;
    margin-left: 75px;
    margin-bottom:50px;
}
@media screen and (max-width:767px) {
    #about-content p {
        font-size: 22px;
        margin-left: 20px;
        margin-bottom:50px;
    }
}

.about-pic {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow:0px 0px 10px 0px #2D2502;
}


/* ------------------------------------------- */
/* Menu----------沐謙 */
/* 內容放在這裡 */


/* ------------------------------------------- */
/* Selections----冠華 */
.selection-pic {
    width: 88%;
    margin:0 0 90px 12%;
    box-shadow:0px 0px 10px 0px #2D2502;
}

#sele-pic-02.selection-pic,
#sele-pic-04.selection-pic {
    margin:0 12% 90px 0%;
}

figcaption.selection-content {
    position: relative;
}
figcaption#sele-02.selection-content, 
figcaption#sele-04.selection-content {
    left:55px;
}
figcaption.selection-content h4 {
    font-size: 50px;
    margin-left:125px;
    margin-bottom:40px;
    color:#8B5131;
}
figcaption.selection-content h4::before {
    content:"";
    width:90px;
    height:90px;
    position: absolute;
    background-image: url('../img/sele-01.png');
    background-size: cover;
    left:16px;
    top:-16px;
}
figcaption#sele-02.selection-content h4::before {
    background-image: url('../img/sele-02.png');
}
figcaption#sele-03.selection-content h4::before {
    background-image: url('../img/sele-03.png');
}
figcaption#sele-04.selection-content h4::before {
    background-image: url('../img/sele-04.png');
}

figcaption.selection-content ul {
    color:#f9cf01;
    font-size:40px;
    padding:0;
    margin-left:85px;
}
figcaption.selection-content li .board {
    position: relative;
}
figcaption.selection-content li .board p{
    font-size:21px;
    color: #000000;;
    margin:0;
}
figcaption.selection-content li .board p::before {
    content:"";
    height:35px;
    width: 3px;
    background-color: #999379;
    display: block;
    position: absolute;
    left:-25px;
    top:-16px;
}

@media screen and (max-width:767px){
    .selection-pic {
        margin-left:auto;
        margin-right:auto;
    }
    #sele-pic-02.selection-pic,
    #sele-pic-04.selection-pic {
        margin-left:auto;
        margin-right:auto;
    }
    .selection-content {
        margin-bottom: 90px;
    }
    figcaption#sele-02.selection-content, 
    figcaption#sele-04.selection-content {
        left:0px;
    }
}

/* ------------------------------------------- */
/* Contact-------冠華 */

.contact-info {
    margin-left:75px;
    margin-bottom:50px;
}
.contact-info h5 {
    color:#724421;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0.7rem;
}
.contact-info p{
    font-size:26px;
    margin-bottom: 0.3rem;
    
}

.contact-info p.op-time::before  {
    content:"";
    width: 30px;
    height: 30px;
    display: block;
    background-image: url('../img/icon/open-time-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}
.contact-info p.phone-nb::before  {
    content:"";
    width: 30px;
    height: 30px;
    display: block;
    background-image: url('../img/icon/phone-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.contact-info p.adress::before  {
    content:"";
    width: 30px;
    height: 30px;
    display: block;
    background-image: url('../img/icon/adress-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.contact-info .number {
    font-family: Times New Roman;
    font-weight: 600;
    letter-spacing: 2px;
}
.contact-info .mobile {
    letter-spacing: 3px;
}

.contact-info .relax {
    font-size: 17px;
    color:#1C1842;
}

.google-map {
    width: 100%;
    height: 400px;
    background-color: #f9cf01;
    margin-bottom:50px;
}
#map {
    height: 370px;
    width: calc(100% - 24px);
    top:12px;
    box-shadow:0px 0px 10px 0px #2D2502;
}

@media screen and (max-width:767px){
    .contact-info {
        margin-left:15px;
    }

    .contact-info p{
        font-size:20px;
        margin-bottom: 0.3rem;
        letter-spacing: 3px;
    }
    .contact-info .relax {
        font-size: 16px;
    }

    #facebook-pl {
        margin-bottom: 3rem;
    }
}


/* ------------------------------------------- */