/* Shared 共用*/

/* ------------------------------------------- */
/* For All Elements */
* {
    font-family: 
    Helvetica, Arial,
    "文泉驛正黑", "WenQuanYi Zen Hei",
    "儷黑 Pro", "LiHei Pro",
    "黑體-繁", "Heiti TC",
    "微軟正黑體", "Microsoft JhengHei", sans-serif;
}
/* Add body a background image. */
body {
    background-image: url('../img/bg-dark.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

/* Add container box-shadow. */
.all-box {
    box-shadow:0px 0px 10px 5px rgba(102, 98, 79,0.3);
    background-color: #FFFFFF;
    position: relative;
}

/* ------------------------------------------- */
/* Background Color - Kuma Yellow */
.bg-kuma-yellow {
    background-color: #f9cf01;
}

/* background animation */
.bgcanim {
    z-index: -1;
    position: absolute;
    width: 190px;
    left: -5%;
    top: 60vh;    
    opacity: 0.5;
    animation: momo 1.61821s ease-in forwards 0.5s;
}
@keyframes momo {
    to {
        left: -8%;
        transform: rotate(-30deg);
    }
}
/* title animation */
.titleanim {
    position: absolute;
    left: 25%;
    top: 0;
    width: 50px;
    animation: roll 1.5s ease-in-out forwards 2.5s;
    
}
.titleanim.second{
    left: 90%;
    animation: rolling 1s ease-out forwards; 
 }
@keyframes roll {
    to {
        left: 96.666%;
        transform: rotate(720deg);
    }
}
@keyframes rolling {
    0% {
        left: 96.666%;
    }
    100% {
        transform: rotate(-360deg);
        top:-50%;
        left: 80%;
    }
}


/* Navigation Bar */

.pos-rel {
    position: relative;
}

/* Centre Adjustment */
.img-logo {
    width: 160px;    
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
    /* transform: translate(-47%, -15%); */
}
/* The second LOGO only display when using the mobile. */
.mobile-img-logo {
    height: 8vh;
}
/* Add the interval between the bottom of NAV and the stamp-buttons. */
.nav-btn-img {
    padding-bottom: 20px;
}
/* The Postmark */
.postmark-hover {
    width: 50px;
    position:  absolute;
    right: 0;
    bottom:  11px;
    opacity: 0;
    transition: all 1000ms ease-in;
}
/* The Hover of the NAV buttons. */
.nav-btn-img:hover .postmark-hover {
    transition: all 200ms ease-in-out;
    opacity: 1;
}

@media screen and (max-width:992px){
    .img-logo { 
        width: 100px;
    }
}

@media screen and (max-width:767px){
    .postmark-hover {
        width: 50px;
        position:  absolute;
        left: 110px;
        bottom:  10px;
    
    }
}





/* ------------------------------------------- */
/* Main */
main {
    /* Add the interval between the navigation bar and content. */
    padding: 80px 0px 20px 0px;
}

/* Title */
.title h3 {
    margin-left: 105px;
    margin-bottom: 50px;
    padding-left: 20px;
    position: relative;
    font-weight: 700;
    color:#2D2502;
    font-size:45px;
}

/* The Bagel pic in Title*/
.title h3::before {
    content:"";
    width:45px;
    height:45px;
    position: absolute;
    background-image: url('../img/title-bagel.png');
    background-size: cover;
    left:-35px;
    top:3px;
}

@media screen and (max-width:767px) {
    .title h3 {
        margin-left: 45px;
    }
}


/* ------------------------------------------- */
/* Footer */
footer {
    margin-top: 50px;
    color:#F2F2F2;
    background-color: #010101;
    padding-top:28px;
}
/* Sitemap */
footer .row .col-md-12 ul {
    text-align: center;
    list-style: none;
    padding:0;
}
/*The font color and the font size of the items in the Sitemap.  */
footer .row .col-md-12 ul li {
    display:inline;
}
.footer-a {
    font-size: 24px;
    font-weight: 500;
    color:#B3B3B3;
}

/* hover: Change color. */
.footer-a:hover {
    text-decoration: none;
    color:#f9cf01;
}
/* Add the "/" after the item. */
footer .row .col-md-12 ul li::after {
    display:inline;
    content:"/";
    margin:0 20px;
}
/* Delete the last " / " */
footer .row .col-md-12 ul li:nth-last-child(1)::after {
    display:none;
}
/* the icon */
.icon-container{
    display: flex;
    justify-content: space-between;
    /* margin-bottom:18px; */
}

.icon {
    display: inline;
}
/* Hover: Pic Change  */
.hover-before{
    display:block;
}
.hover-after{
    display:none;
}
.icon:hover .hover-before{
    display: none;
}
.icon:hover .hover-after{
    display: block;
}
/* the dashed line */
.dashed::after {
    content: "-------------------------------------------------------";
    display: block;
    font-size:24px;
    text-align: center;
    letter-spacing: 10px;
    color: #f9cf01;
    overflow: hidden;
    height: 20px;
}
/* The Store Information */
.info {
    width: 90%;
    padding-top:16px;
    padding-left:30px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
}
/* The paragraph. */
.col-md-4 .info p {
    margin-bottom:7px;
    font-size:16px;
}
/* The closed time. */
.relax {
    font-size:12px;
    padding-left:2px;
}
/* Moblie Phone Number. */
.mb-phone {
    letter-spacing: 3.567px;
}
/* Phone Number. */
.phone {
    letter-spacing: 2.54px;
}
/* CopyRight  */
.copyright {
    font-size: 12px;
}

@media screen  and (max-width:767px) {
    .info {
        width: 90%;
        padding:  15px 0px 15px 35px;
        margin-bottom: 0px;
    }
    .info.wu-chan{
        padding-top:35px;
    }
    .info.fong-yu {
        margin-bottom: 50px;
    }

    .icon-container {
        justify-content: space-around;
    }

}

@media screen and (max-width:350px) {
    .info {
        padding-left:10px;
    }
}

/* ------------------------------------------- */

/* ------------------------------------------- */
/* Individual 個別*/
/* ------------------------------------------- */

/* ------------------------------------------- */
/* Index---------沐謙*/
/* 內容放在這裡 */
main#index-content {
    padding: 8vh 0px 20px 0px;
}

/* swiper */
        
.swiper-container {
            width: 100%;
            padding-bottom: 50px;
}

.swiper-slide {
            max-width: 60%;
            box-shadow: 0 7px 30px 0px rgba(39, 16, 1, 0.5);
            /* border: solid 7px #cc730e; */
}

.swiper-pagination-bullet-active {
    background-color: #f9cf01;
}


@media screen and (max-width:991px) {
            .swiper-slide {
                max-width: 80%;
    }
}

/* preload */

.preload {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9030;
}

.preloadtop img {
            position: absolute;
            width: 160px;
            bottom: -80px;
            left: 50%;
            transform: translate(-50%, 0);
}

.preloadtop {
            width: 100%;
            height: 50vh;
            background-color: #f9cf01;
            position: absolute;
            top: 0;
            animation: topup 2s cubic-bezier(.22, .94, .65, -0.46) forwards 1s;
            opacity: 1;
}

.preloadbottom {
            width: 100%;
            height: 50vh;
            background-color: #000;
            position: absolute;
            bottom: 0;
            animation: bottomup 2s cubic-bezier(.22, .94, .65, -0.46) forwards 1s;
}

@keyframes topup {
    99% {
        opacity: 1;
    }
    100% {
        height: 130px;
        opacity: 0;
    }
}

@keyframes bottomup {
    to {
        height: 0vh;
    }
}



/* ------------------------------------------- */
/* About---------冠華 */
#about-content p {
    font-size: 22px;
    margin-left: 75px;
    margin-bottom:50px;
}
.about-pic {
    width: 88%;
    box-shadow:0px 0px 10px 0px #2D2502;
}
@media screen and (max-width:767px) {
    #about-content p {
        font-size: 22px;
        margin-left: 20px;
        margin-bottom:50px;
    }
    .about-pic {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        box-shadow:0px 0px 10px 0px #2D2502;
    }
}




/* ------------------------------------------- */
/* Menu----------沐謙 */
/* 內容放在這裡 */
.border-top-orange {
    border-top:solid 5px #F1B676;
    width: 100%;
    margin: 25px 0;
}

/* menu content */

.menucontent {
            width: 87%;
            margin: auto;
}

 /* filterizr */

.filterizr__controls {
            /* margin-top: 20px; */
}

.filterizr__controls li {
            text-align: center;
            width: 133px;
            margin: 7px;
            border-radius: 50px;
            padding: 7px;
            background-color: #F9CF16;
            color: #333;
            cursor: pointer;
            display: inline-block;
            text-transform: uppercase;
            transition: all 200ms;
            cursor: pointer;
            font-weight: 600;
            font-size: 20px;
            text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.filterizr__controls li.active {
            box-shadow: 0 0 10px 3px rgba(63, 38, 14, 0.5);
            color: rgb(128, 58, 12);
            background-color: rgb(249, 132, 22);            
}

.filterizr__elements figure {
            padding: 1rem;
            cursor: pointer;
}

.filterizr__elements figure figcaption {
            color: white;
            position: absolute;
            text-transform: uppercase;
            padding: 1rem;
            z-index: 1;
            bottom: 1rem;
}

.filterizr__elements img {
            box-shadow: 0 0 20px 5px rgba(235, 168, 106, 0.5);            
}

.img-thumbnail {
            background-color: #F9CF16;
            transition: all 500ms;
            cursor: pointer;
}



.mask {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: calc(100% - 42px);
            height: calc(100% - 42px);
            ;
            background-color: rgba(249, 132, 22, 0.2);

            transition: all 500ms ease-in-out;
            opacity: 0;

}

.filterizr__elements figure figcaption {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0;
            color: #000;
            font-weight: 900;
}

.filtr-item:hover .mask {
            transform: translate(-50%, -50%) scale(0.9);
            opacity: 1;
            z-index: 2;
}

.filtr-item:hover .img-thumbnail {
            background-color: rgb(249, 132, 22);
}

.filtr-item:hover img {
            transform: scale(0.9);
}

 /* modal */
.modal .row {

            margin: 0;
}
.modal .col-12 {
            padding: 0;
}

.modal-content {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            padding: 0;
            width: 600px;
            height: 300px;
            margin: 50px 0;
}

.modal-body {
            padding: 0;
}

.close {
            position: absolute;
            top: -25px;
            right: -20px;
}

.modalframe {
            position: relative;
            width: 300px;
            height: 300px;
            background-color: #F1B676;
            box-shadow: inset 7px 0 10px 0px rgba(63, 38, 14, 0.5);
}

.modaltext {
            padding: 20px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 230px;
            height: 230px;
            color: #322013;
}

.modaltext::before {
            content: "";
            width: 240px;
            height: 240px;
            border: solid 3px #322013;
            position: absolute;
            left: 0;
            top: 0;
}

.modaltext::after {
            content: "";
            width: 240px;
            height: 240px;
            border: solid 3px #322013;
            position: absolute;
            right: 0;
            bottom: 0;
}

.modaltext h5 {
            padding-bottom: 10px;
            border-bottom: solid 2px #322013;
            text-align: center;
            font-weight: 700;
}

.price {
            position: absolute;
            right: 20px;
            bottom: 0;
            font-weight: 700;
}

@media screen and (max-width:992px) {
    .modal-content {
                width: 300px;
                height: 600px;
    }
    .modalframe {
                box-shadow: inset 0 7px 10px 0px rgba(63, 38, 14, 0.5);
    }
}

/* ------------------------------------------- */
/* Selections----冠華 */
.selection-pic {
    width: 88%;
    margin:0 0 90px 12%;
    box-shadow:0px 0px 10px 0px #2D2502;
}

#sele-pic-02.selection-pic,
#sele-pic-04.selection-pic {
    margin:0 12% 90px 0%;
}

figcaption.selection-content {
    position: relative;
}
figcaption#sele-02.selection-content, 
figcaption#sele-04.selection-content {
    left:55px;
}
figcaption.selection-content h4 {
    font-size: 50px;
    margin-left:125px;
    margin-bottom:40px;
    color:#8B5131;
}
figcaption.selection-content h4::before {
    content:"";
    width:90px;
    height:90px;
    position: absolute;
    background-image: url('../img/select/sele-01.png');
    background-size: cover;
    left:16px;
    top:-16px;
}
figcaption#sele-02.selection-content h4::before {
    background-image: url('../img/select/sele-02.png');
}
figcaption#sele-03.selection-content h4::before {
    background-image: url('../img/select/sele-03.png');
}
figcaption#sele-04.selection-content h4::before {
    background-image: url('../img/select/sele-04.png');
}

figcaption.selection-content ul {
    color:#f9cf01;
    font-size:40px;
    padding:0;
    margin-left:85px;
}
figcaption.selection-content li .board {
    position: relative;
}
figcaption.selection-content li .board p{
    font-size:21px;
    color: #000000;;
    margin:0;
}
figcaption.selection-content li .board p::before {
    content:"";
    height:35px;
    width: 3px;
    background-color: #999379;
    display: block;
    position: absolute;
    left:-25px;
    top:-16px;
}

@media screen and (max-width:767px){
    .selection-pic {
        margin-left:auto;
        margin-right:auto;
    }
    #sele-pic-02.selection-pic,
    #sele-pic-04.selection-pic {
        margin-left:auto;
        margin-right:auto;
    }
    .selection-content {
        margin-bottom: 90px;
    }
    figcaption#sele-02.selection-content, 
    figcaption#sele-04.selection-content {
        left:0px;
    }
}

/* ------------------------------------------- */
/* Contact-------冠華 */

.contact-info {
    margin-left:75px;
    margin-bottom:50px;
}
.contact-info h5 {
    color:#724421;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0.7rem;
}
.contact-info p{
    font-size:26px;
    margin-bottom: 0.3rem;
    
}

.contact-info p.op-time::before  {
    content:"";
    width: 30px;
    height: 30px;
    display: block;
    background-image: url('../img/icon/open-time-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}
.contact-info p.phone-nb::before  {
    content:"";
    width: 30px;
    height: 30px;
    display: block;
    background-image: url('../img/icon/phone-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.contact-info p.adress::before  {
    content:"";
    width: 30px;
    height: 30px;
    display: block;
    background-image: url('../img/icon/adress-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.contact-info .number {
    font-family: Times New Roman;
    font-weight: 600;
    letter-spacing: 2px;
}
.contact-info .mobile {
    letter-spacing: 3px;
}

.contact-info .relax {
    font-size: 17px;
    color:#1C1842;
}

.contact-info.han-ko {
    margin-right:30px;
    margin-left:60px;
}

.contact-info.han-ko p .relax {
    letter-spacing: 4px;
}

.google-map {
    width: 100%;
    height: 400px;
    /* background-color: #f9cf01; */
    margin-bottom:50px;
}
#map {
    height: 370px;
    width:85%;
    top:12px;
    box-shadow:0px 0px 10px 0px #2D2502;
}

@media screen and (max-width:767px){
    .contact-info,
    .contact-info.han-ko {
        margin-left:15px;
        margin-right: 0px;
    }

    .contact-info p{
        font-size:20px;
        letter-spacing: 3px;
    }
    .contact-info .relax {
        font-size: 16px;
    }
    .contact-info p.op-time::before,
    .contact-info p.phone-nb::before,
    .contact-info p.adress::before{
        width: 22px;
        height: 22px;
    }

    #facebook-pl {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width:350px) {
    .contact-info p{
        font-size:17px;
        letter-spacing: 1.2px;
    }
    .contact-info .relax {
        font-size: 16px;
    }
    .contact-info.han-ko p .relax {
        letter-spacing: 2px;
    }
}


/* ------------------------------------------- */